//page-header

.page-header {
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
    padding-bottom: 29px;

    @media (max-width: $mobile-width) {
      & .main-button--long {
        display: none;
      }
    }
  }
}

.page-header__logo {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-width) {
    & img {
      width: 54px;
      height: 54px;
    }
  }

  & .page-header__logo-wrapper {
    padding-left: 21px;
  }

  & .page-header__logo-name {
    color: $color_black;
    @include Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    @media (max-width: $mobile-width) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  & .page-header__logo-subtitle {
    color: $color_dark_grey;
    @include Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    @media (max-width: $mobile-width) {
      font-size: 14px;
      line-height: 17px;
    }
  }
}
.page-header__contacts {
  display: flex;
  align-items: center;

  & a {
    padding-right: 10px;
    color: $color_black;
    @include Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.main-button--long {
  padding: 22px 29px 24px 29px;
  background-color: $color_orange;
  color: $color_white;
  @include Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.page-header__button-menu {
  width: 24px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: url(../img/cursor.png) 2 2, pointer;
  position: relative;

  & span {
    width: 24px;
    height: 3px;
    background-color: $color_black;
  }
}

.page-header__button-menu--closed {
  background-color: $color_orange;
  width: 55px;
  height: 55px;
  position: absolute;
  left: 478px;

  & span {
    background-color: $color_white;
    &:nth-child(1) {
      transform: rotate(45deg);
      position: absolute;
      top: 25px;
      left: 15px;
    }
    &:nth-child(2) {
      transform: rotate(-45deg);
      position: absolute;
      top: 25px;
      left: 15px;
    }
  }
}

.page-header__menu {
  position: absolute;
  max-width: 533px;
  max-height: 658px;
  background-color: $color_bg_block;
  top: -17px;
  left: -495px;
  display: none;

  &.page-header__menu--open {
    display: block;
    z-index: 2;
  }
}

.page-header__menu-list {
  padding-top: 65px;
  padding-left: 126px;
  padding-right: 157px;
  padding-bottom: 70px;
  z-index: 1;

  & .page-header__menu-item {
    @include Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
    color: $color_white;

    &:hover {
      color: $color_orange;
    }
  }

  & li:not(:last-child) {
    padding-bottom: 21px;
    border-bottom: 1px solid #343434;
  }

  & li:not(:first-child) {
    padding-top: 21px;
  }
}

.page-header__menu-wrapper {
  padding-left: 0px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-header__menu-inner-wrapper {
  padding-bottom: 47px;
  display: flex;
  justify-content: baseline;

  & a {
    @include Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: $color_white;
  }
}

//info-block

.info-block {
  & .info-block__slider {
    width: 100vw;

    padding-bottom: 83px;

    & .info-block__slide-subtitle:first-child {
      @include Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 34px;
      padding-top: 96px;
      padding-bottom: 22px;

      @media (max-width: $mobile-width) {
        font-weight: bold;
        font-size: 21px;
        line-height: 26px;
      }
    }

    & .info-block__slide-title {
      @include Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 72px;
      line-height: 88px;

      @media (max-width: $mobile-width) {
        font-weight: bold;
        font-size: 45px;
        line-height: 55px;
      }
    }

    & .info-block__slide-subtitle:nth-child(3) {
      @include Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 21px;
      line-height: 26px;
      max-width: 419px;
      padding-bottom: 43px;

      @media (max-width: $mobile-width) {
        font-size: 18px;
        line-height: 130.4%;
      }
    }
  }
}

.info-block__slide {
  color: $color_white;
  height: 533px;
  & .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &:nth-child(1) {
    background-image: url(../img/info-block-bbg.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  &:nth-child(2) {
    background-image: url(../img/info-block-bbg.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  &:nth-child(3) {
    background-image: url(../img/info-block-bbg.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

//our-car-pool

.our-car-pool {
  & .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.our-car-pool__title {
  @include Montserrat;
  font-weight: bold;
  font-size: 62px;
  line-height: 76px;
  color: $color_black;
  padding-bottom: 19px;

  @media (max-width: $mobile-width) {
    font-size: 36px;
    line-height: 44px;
  }
}

.our-car-pool__subtitile {
  @include Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 30px;
  color: $color_dark_grey_2;
  max-width: 1073px;
  padding-bottom: 35px;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 142.4%;
  }
}

.our-car-pool__btn-wrapper {
  display: flex;
  justify-content: space-around;
  width: 1167px;
  padding-bottom: 20px;
  @media (max-width: $mobile-width) {
    flex-direction: column;
  }

  & label {
    width: 584px;
    height: 77px;
    border: 1px solid $color_dark_grey;
    display: flex;
    justify-content: center;
    align-items: center;
    @include Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    @media (max-width: $mobile-width) {
      max-width: 319px;
    }
  }
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: $color_orange;
  color: $color_white;
  border: none;
}

.our-car-pool__list {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  padding-bottom: 72px;
  flex-wrap: wrap;
  row-gap: 32px;
}

.our-car-pool__item {
  display: flex;
  flex-direction: column;
  background-color: $color_bg_block;
  padding: 28px 30px 47px 30px;
  color: $color_white;
  & img {
    padding-bottom: 29px;
  }

  & .our-car-pool__item-title {
    @include Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 22px;
  }
}

.our-car-pool__item__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
  padding-bottom: 17px;
  border-top: 1px dashed $color_dark_grey;
  color: $color_light_grey;

  &:nth-child(4) {
    border-bottom: 1px dashed $color_dark_grey;
  }
}

.our-car-pool__item-price {
  @include Montserrat;
  padding-top: 20px;
  color: $color_light_grey;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  & span {
    color: $color_white;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }
}

.main-button--short {
  padding: 23px 30px 23px 30px;
  background-color: $color_orange;
  color: $color_white;
  @include Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  align-self: flex-start;
  margin-top: 33px;
}

//service

.service {
  & .container {
    padding-bottom: 96px;
    position: relative;
  }
}

.service__title {
  @include Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
  padding-bottom: 19px;

  @media (max-width: $mobile-width) {
    font-size: 36px;
    line-height: 44px;
  }
}

.service__subtitle {
  @include Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 30px;
  color: $color_dark_grey_2;
  max-width: 1073px;
  padding-bottom: 45px;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 142.4%;
  }
}

.service__slider {
  position: relative;
  width: 1012px;
  height: 623px;
}

.service__slide {
  background-color: $color_bg_block;
  max-width: 328px;
  color: $color_white;

  & .service__slide-title {
    @include Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    padding-top: 29px;
    padding-bottom: 22px;
    padding-left: 26px;
  }

  & .service__slide-subtitle {
    color: $color_light_grey;
    @include Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 21px;
    padding-left: 26px;

    &.service__slide-subtitle--line {
      border-bottom: 1px dashed $color_dark_grey;
    }
  }

  & .main-button--short {
    margin-left: 26px;
    margin-bottom: 52px;
  }
}

.service__slide-price {
  @include Montserrat;
  padding-top: 20px;
  color: $color_light_grey;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding-left: 26px;
  padding-bottom: 42px;
  & span {
    color: $color_white;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }
}

.swiper-button-next {
  background-color: $color_orange;
  width: 55px;
  height: 55px;
  position: absolute;
  right: 140px;
  cursor: url(../img/cursor.png) 2 2, pointer;

  &::after {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    border: 2px solid $color_white;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
    left: 15px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.swiper-button-prev {
  background-color: $color_orange;
  width: 55px;
  height: 55px;
  position: absolute;
  left: 140px;
  cursor: url(../img/cursor.png) 2 2, pointer;

  &::after {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    border: 2px solid $color_white;
    border-left: none;
    border-bottom: none;
    transform: rotate(225deg);
    left: 20px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

//stage

.stage {
  background-color: $color_bg_block;
  color: $color_white;
  & .container {
    display: flex;
    flex-direction: column;
  }
}

.stage__title {
  @include Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 76px;
  padding-top: 92px;

  @media (max-width: $mobile-width) {
    font-size: 36px;
    line-height: 44px;
  }
}

.stage__subtitle {
  color: $color_light_grey;
  @include Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 30px;
  padding-bottom: 46px;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 142.4%;
  }
}

.stage__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 132px;

  @media (max-width: $mobile-width) {
    flex-direction: column;

    & .stage__item:not(:last-child) {
      padding-bottom: 35px;
    }
  }
}

.stage__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 245px;

  &:first-child {
    background-color: $color_orange;
    padding: 28px 35px 34px 40px;
    max-width: 345px;

    @media (max-width: $mobile-width) {
      margin-bottom: 35px;
    }

    & .stage__item-number,
    .stage__item-subtitle {
      color: $color_white;
    }
  }

  & .stage__item-number {
    @include Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    padding-bottom: 5px;
    color: $color_light_grey;
  }

  & .stage__item-title {
    @include Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    padding-bottom: 10px;
  }

  & .stage__item-subtitle {
    @include Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $color_light_grey;
  }
}

//bulk-materials

.bulk-materials {
  background-color: $color_bg_grey;
  & .container {
    position: relative;
  }
}

.bulk-materials__title {
  @include Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 76px;
  padding-top: 79px;

  @media (max-width: $mobile-width) {
    font-size: 36px;
    line-height: 44px;
  }
}

.bulk-materials__subtitle {
  @include Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 30px;
  color: $color_dark_grey_2;
  padding-bottom: 36px;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 142.4%;
  }
}

.bulk-materials__slider {
  padding-bottom: 185px;
  width: 1012px;
}

.bulk-materials__slide {
  background-color: $color_white;
  border: 1px solid #ececec;
  height: 486px;
}

.bulk-materials__slide-wrapper {
  padding: 29px 27px 37px 28px;
}

.bulk-materials__slider-title {
  @include Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 19px;
  border-bottom: 1px dashed $color_dark_grey;
}

.bulk-materials__slider-price {
  @include Montserrat;
  padding-top: 20px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 40px;

  & span {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }
}

//about-company

.about-company {
  background-color: $color_bg_grey;
  & .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;

    @media (max-width: $mobile-width) {
      & img:last-child {
        display: none;
      }
    }
  }
}

.about-company__wrapper {
  @media (min-width: $mobile-width-only) {
    flex-direction: column;
    & img {
      display: none;
    }
  }
}

.about-company__title {
  @include Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 76px;
  padding-bottom: 20px;

  & + .about-company__subtitle {
    @include Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 142.4%;
    color: $color_dark_grey_2;
    max-width: 661px;
    padding-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
  }
}

.about-company__subtitle {
  @include Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 142.4%;
  color: $color_dark_grey_2;
  max-width: 676px;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 142.4%;
  }
}

//advantage

.advantage {
  & .container {
    display: flex;
    flex-direction: column;
  }
}

.advantage__title {
  @include Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 76px;
  padding-top: 80px;
  padding-bottom: 60px;

  @media (max-width: $mobile-width) {
    font-size: 36px;
    line-height: 44px;
  }
}

.advantage__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 47px;
  padding-bottom: 109px;

  @media (max-width: $mobile-width) {
    display: none;
  }

  & .advantage__item {
    max-width: 537px;

    & img {
      padding-bottom: 20px;
    }
  }
}

.advantage-slider {
  width: 300px;
  max-height: 700px;
  @media (min-width: $mobile-width-only) {
    display: none;
  }
}

.advantage-slide {
  width: 200px;
}

.advantage__item-title {
  @include Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: $color_black;
  padding-bottom: 20px;

  @media (min-width: $mobile-width-only) {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }
}

.advantage__item-subtitle {
  @include Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 142.4%;
  color: $color_dark_grey_2;
}

//feedback

.feedback {
  background-color: $color_bg_grey;

  & .container {
    position: relative;
  }
}

.feedback__slider {
  width: 1012px;
  padding-bottom: 135px;

  @media (max-width: $mobile-width) {
    width: 294px;
    padding-bottom: 220px;
  }
}

.feedback__slide {
  position: relative;
  background-image: url(../img/our-technology.png);
  width: 1012px;
  height: 418px;

  @media (max-width: $mobile-width) {
    width: 294px;
    height: 238px;
    background-image: url(../img/our-technology-mobile.png);

    background-size: cover;
  }
}

.feedback__slide-text {
  position: absolute;
  @include Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 142.4%;

  background: rgba(255, 255, 255, 0.9);
  box-shadow: 13px 9px 12px rgba(0, 0, 0, 0.4);
  width: 778px;
  padding: 22px 20px 27px 20px;
  top: 250px;

  @media (max-width: $mobile-width) {
    width: 294px;
    height: 149px;
    padding: 22px;
    font-size: 14px;
    line-height: 142.4%;
    box-shadow: 1px 4px 36px rgba(0, 0, 0, 0.1);
    top: 237px;
  }
}

.feedback__title {
  @include Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 76px;
  padding-top: 74px;
  padding-bottom: 18px;

  @media (max-width: $mobile-width) {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
  }
}

.feedback__subtitle {
  @include Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 30px;
  color: $color_dark_grey_2;
  padding-bottom: 74px;
  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 142.4%;
  }
}

//partners

.partners {
  background-color: $color_bg_grey;

  & .container {
    position: relative;
    padding-bottom: 159px;
  }
}

.partners__title {
  @include Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 76px;
  padding-bottom: 18px;

  @media (max-width: $mobile-width) {
    font-size: 36px;
    line-height: 44px;
  }
}

.partners__subtitle {
  @include Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 30px;
  color: $color_dark_grey_2;
  padding-bottom: 74px;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 142.4%;
  }
}

.partners__slider {
  max-width: 972px;

  @media (max-width: $mobile-width) {
    max-width: 294px;
  }
}

.partners__slide {
  @media (max-width: $mobile-width) {
    width: 294px;

    & img {
      width: 294px;
      height: 218px;
    }
  }
}

//page-footer

.page-footer {
  background-color: $color_bg_grey;

  & .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
  }
}

.page-footer__title {
  @include Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 76px;
  padding-bottom: 18px;

  @media (max-width: $mobile-width) {
    font-size: 36px;
    line-height: 44px;
  }
}

.page-footer__subtitle {
  @include Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 30px;
  color: $color_dark_grey_2;
  padding-bottom: 74px;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 142.4%;
  }
}

.page-footer__contacts {
  background-color: $color_bg_block;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
  padding-bottom: 70px;
  @media (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.page-footer__form {
  & fieldset {
    display: flex;
    flex-direction: column;

    & input {
      width: 443px;
      height: 68.28px;
      margin-bottom: 13px;
      background-color: $color_white;
      padding-left: 36px;
      @include Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: $color_black;

      @media (max-width: $mobile-width) {
        width: 278px;
      }

      &::placeholder {
        @include Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: $color_light_grey;
      }
    }
  }
}

.button-form {
  padding: 23px 133px 23px 133px;
  background-color: $color_orange;
  color: $color_white;
  @include Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  @media (max-width: $mobile-width) {
    padding: 21px 51px 25px 51px;
  }
}

.page-footer__contacts-social {
  padding-top: 50px;
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width) {
    text-align: center;
  }
}

.page-footer__link {
  @include Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: $color_white;
  padding-bottom: 15px;

  &:first-child {
    padding-bottom: 13px;
  }
}

.page-footer__social {
  padding-bottom: 13px;

  & a:first-child {
    padding-right: 11px;
  }
}

.page-footer__copyright {
  @include Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: $color_dark_grey_2;
  padding-left: 132px;
  padding-bottom: 50px;
  padding-top: 30px;
  border-top: 1px solid #3e3e3e;

  @media (max-width: $mobile-width) {
    text-align: center;
    padding-left: 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
